*.pyc
Beta/data/input/
Beta/data/output/*.root
Beta/src/*.so
Beta/src/*.d
Beta/src/*.pcm
Beta/src/build/
Beta/src/BetaMeas_Lab2.root
Beta/data/output/BetaOutput.root
ITS3/Usefull_macros/Data
ITS3/Data/run175174828_230428174901_preprocessed.root
ITS3/Data/run175174828_230428174901_TTree.root
ITS3/src/build/
