*.pyc
Beta/data/input/
Beta/data/output/*.root
Beta/src/*.so
Beta/src/*.d
Beta/src/*.pcm
Beta/src/build/
Beta/src/BetaMeas_Lab2.root
Beta/data/output/BetaOutput.root
ITS3/Usefull_macros/Data
ITS3/Data/
ITS3/src/build/
ITS3/src/*.so
ITS3/src/*.d
ITS3/src/*.pcm
